.mainStyle {
  background: var(--mainBackgroundColor);
  min-height: 76vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
}

@media only screen and (max-width: 1000px) {
  .mainStyle {
    min-height: 97.3vh;
  }
}
