.mainDiv {
  width: 200px;
  height: 200px;
  min-height: 200px;
  min-width: 200px;
  background: rgba(255, 255, 255, 0.4);
  position: relative;
  border: 1px solid black;
}

.imgTag {
  width: 200px;
  height: 150px;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.nameAlbumTag {
  width: 200px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
}
